<div class="footer">
    <div class="footer-content container-xxl">
        <div class="footer-col footer-col1">
            <p class="interiorx"><strong>Interior<span>X</span></strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor nihil iste porro distinctio. In harum
                quidem mollitia quas natus aliquam dolore dolores officiis neque quae delectus deserunt. Soluta
                quisquam qui itaque est amet dolor id beatae.</p>
            <div class="social-links">
                <div class="social-link">
                    <span class="icon-facebook-f"></span>
                </div>

                <div class="social-link">
                    <span class="icon-twitter"></span>
                </div>

                <div class="social-link">
                    <span class="icon-linkedin-in"></span>
                </div>

                <div class="social-link">
                    <span class="icon-telegram-plane"></span>
                </div>
            </div>
        </div>

        <div class="footer-col news">
            <p class="footer-col-title"><strong>Latest news</strong></p>
            <div class="news-links">
                <p class="news-link"><a href="#">Aut illum consequuntur quae dolores mollitia deserunt</a></p>
                <p class="news-link"><a href="#">Estpti beatae placeat corporis non incidunt</a></p>
                <p class="news-link"><a href="#">Molestiae aperiam laudantium ullam fuga laboriosam</a></p>
                <p class="news-link"><a href="#">Repellat explore dolorem tenetur voluptate repudiandae</a></p>
                <p class="news-link"><a href="#">Vero voluptate esse nostrum quaerat reiciendis eveniet</a></p>
                <p class="news-link"><a href="#">Totam non blanditiis harum vitae accusamus</a></p>
            </div>
        </div>

        <div class="footer-col location">
            <p class="footer-col-title"><strong>Contact Us</strong></p>
            <p>North Tower(3rd floor), Dhaka, Bangladesh</p>
            <div class="address">
                <p><strong>Phone: </strong><span>+88 01234-567899, +88 01298-765431</span></p>
                <p><strong>Email: </strong><span>interiorx@example.com</span></p>
                <p><strong>Web: </strong><a href="#">www.interiorx.com</a></p>
            </div>
        </div>
    </div>

    <footer class="copyright container-xxl">
        <p>Copyright &copy; 2022 - All Rights Reserved - <a
                href="https://www.youtube.com/channel/UCr4TC9YxsDZwzwIxnZOVlBw">Front End Library</a></p>
    </footer>
</div>