<div class="header">

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="nav-content container-fluid">
            <a class="navbar-brand" href="/">
                <img class="d-inline-block align-top" src="./img/logo2.png" alt="brand-logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="main-menu collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin-right: -700px;">
                    

                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                            Our Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="interior.html">Interior</a></li>
                            <li><a class="dropdown-item" href="construction.html">Construction</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="signup">Sign up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="display">Display</a>
                    </li>
                </ul>
            </div>

            
        </div>
    </nav>
    <!-- navbar end -->
</div>